
  <style>
    body {
      background: white;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;

    }
    #editor,.editor {
      border: 1px solid blue;
      width: 500px;
      height: 300px;
      position: absolute;
      font-size: 14px;

      padding: 5px;
      display:none;
    }

    .shape-canvas {
      position: absolute;
      left: 540px;
      border: 1px solid #CCC;
      width: 400px;
      height: 400px;
      padding: 10px;
    }
    .no-shapes {
      text-shadow: 1px 1px 3px #ff4648;
    }

    .shapes-picker {
      margin-bottom: 20px;
      font-size: 13px;
    }

    .shape {
      -webkit-transition: all 0.25s;
    }
  </style>

<div class="reactContainer" id="reactContainer"></div>


